<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>First app express</title>
</head>
<body>
   <!--the nav bar we use bosstrap to do this-->
    <header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/services">Our Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contacts">Contacts-Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </header>
    <!-- end nav bar-->
    <!--My portfolio-->
    <section class="site-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 site-title">
                    <h1 class="title-text text-uppercase">Hello tout le monde</h1>
                    <h4 class="title-text text-uppercase">lorem ipsum dolor</h4>
                    <div class="site-buttons">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 banner-image">
                    <img src="./img/banner-image.png" alt="banner-img" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section class="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="about-image">
                      <img src="./img/about-us.png" alt="About us" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 about-title">
                  <h2 class="text-uppercase pt-5">
                      <span>Lorem ipsum dolor sit mollitia.</span>
                  </h2>
                  <div class="paragraph py-4 w-75">
                      <p class="para">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error rerum iure obcaecati vel
                          possimus officia maiores perferendis ut! Quos, perspiciatis.
                      </p>
                      <p class="para">
                          It is a long established fact that a reader will be distracted by the readable content
                          of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                          more-or-less normal distribution of letters, as opposed to using 'Content here, content
                          here
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
</body>
</html>